.nav__wrapper{
    margin-bottom: 80px;
}

.footer__nav{
    margin: 0 auto;
    margin-top: 44px;    
    margin-bottom: 81px;
    width: 603px;
}

.footer__nav-lists{
    margin: 0 auto;
    width: 594px;
    display: flex;
    justify-content: space-between;
}



.footer__nav-link{        
    font-weight: 400;
    font-size: 18px;    
    line-height: 22px;
    letter-spacing: -0.03em;    
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.footer__nav-link:hover{
    color: #FF25C2;
}

.footer__logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px; 
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -0.03em;
    color: #FF25C2;
}

@media (max-width: 1199px) {
    .footer__nav{
        margin-bottom: 52px;
    }
}  

@media (max-width: 774px) {
    .footer__nav{
        width: 100%;
        flex-direction: column;
    }
    
    .footer__nav-link{
        width: 100%;
    }

    .footer__nav-lists{
        width: 100%;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }
}