
.training{
    margin: 0 auto;
    height: 1314px;
}

.training__header{
    margin: 0 auto;
    padding-top: 150px;
    width: 676px;    
    font-weight: 700;
    font-size: 100px;
    line-height: 74px;  
    text-align: center;
    letter-spacing: -0.06em;
    color: #FF25C2;
}

.training-properties{
    margin: 0 auto;
    padding-top: 100px;
}

.training-properties:nth-last-child(3){   
    padding-top: 80px;
}

.training-properties__icon-wrapper{
    margin: 0 auto;
    width: 54px;
    height: 54px;
    background: #FF25C2;
    border-radius: 100px;
    padding-top: 16px;
}

.training-properties__icon{
    display: block;
    margin: 0 auto; 
    width: 24px;
    height: 24px;
}

.training-properties__text{
    margin: 0 auto;
    padding-top: 20px;
    width: 507px;
    height: 120px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

@media (max-width: 774px) {
    .training__header{
        width: 100%;
        font-size: 60px;
        line-height: 44px;
    }

    .training-properties__text{
        width: 100%;
        font-size: 16px;
        line-height: 19px;
    }
}